
  <div class="container">
    <h1>Welcome to Angular Bootstrap Example</h1>

    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Card 1</h5>
            <p class="card-text">This is the content of card 1.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Card 2</h5>
            <p class="card-text">This is the content of card 2.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>





