<!-- app.component.html -->

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="list-group">
        <a href="#" class="list-group-item" [ngClass]="{ 'active': activeTab === 'currentWeather' }" (click)="setActiveTab('currentWeather')">Météo actuelle</a>
        <a href="#" class="list-group-item" [ngClass]="{ 'active': activeTab === 'weeklyWeather' }" (click)="setActiveTab('weeklyWeather')">Météo de la semaine</a>
      </div>
    </div>
    <div class="col-md-9">
      <div *ngIf="activeTab === 'currentWeather'">
        <!-- Contenu pour la météo actuelle -->
        <h2>Météo actuelle</h2>
        <!-- Ajoutez ici le code HTML pour afficher la météo actuelle -->
      </div>
      <div *ngIf="activeTab === 'weeklyWeather'">
        <!-- Contenu pour la météo de la semaine -->
        <h2>Météo de la semaine</h2>
        <!-- Ajoutez ici le code HTML pour afficher la météo de la semaine -->
      </div>
    </div>
  </div>
</div>
